In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
data = pd.read_csv("vehicles.csv")

In [84]:
data

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,7308972392,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,17860,2014.0,jeep,grand cherokee limited,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00O0O_ijP2Qx9vMi...,2014 JEEP GRAND CHEROKEE LIMITED ~ Hundreds of...,NaN,al,29.801374,-82.531052,2021-04-18T17:15:59-0500
1997,7308971633,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,54488,2020.0,ford,f-150 lariat 4wd,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00U0U_dTOexEOB2l...,2020 FORD F-150 LARIAT 4WD / F150 4X4 TRUCK ~ ...,NaN,al,29.802119,-82.529850,2021-04-18T17:14:22-0500
1998,7308831024,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,33990,2017.0,ram,1500 crew cab tradesman,good,8 cylinders,...,NaN,pickup,blue,https://images.craigslist.org/00Y0Y_jRbwm0dSjS...,Carvana is the safer way to buy a car During t...,NaN,al,31.230000,-85.400000,2021-04-18T12:50:51-0500
1999,7308801755,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,3,2020.0,ford,fusion se sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00E0E_b3RHuW4jYv...,2020 FORD FUSION SE SEDAN ~ Hundreds of NEW & ...,NaN,al,29.803337,-82.528074,2021-04-18T11:59:35-0500
2000,7308801682,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,18681,2019.0,nissan,altima 2.5 sr sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00101_lBMiBbuKBr...,2019 NISSAN ALTIMA 2.5 SR SEDAN ~ Hundreds of ...,NaN,al,29.802566,-82.529678,2021-04-18T11:59:27-0500

In [85]:
data.describe()

,id,price,year,odometer,county,lat,long
count,2.001000e+03,2.001000e+03,1952.000000,1.962000e+03,0.0,1962.000000,1962.000000
mean,7.308532e+09,5.625151e+05,2011.201332,2.038947e+05,NaN,33.735365,-85.549365
std,1.150144e+07,2.219042e+07,9.704075,9.915782e+05,NaN,2.167945,3.375666
min,7.208550e+09,0.000000e+00,1903.000000,0.000000e+00,NaN,26.021800,-122.693000
25%,7.305754e+09,5.500000e+03,2008.000000,2.967350e+04,NaN,32.922900,-86.817617
50%,7.310397e+09,1.720000e+04,2013.000000,8.799700e+04,NaN,33.455361,-86.737847
75%,7.313504e+09,2.998000e+04,2017.000000,1.572288e+05,NaN,33.736288,-85.480000
max,7.316878e+09,9.876543e+08,2021.000000,9.999999e+06,NaN,44.120200,-73.572300

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2001 non-null   int64
 1   url           2001 non-null   object
 2   region        2001 non-null   object
 3   region_url    2001 non-null   object
 4   price         2001 non-null   int64
 5   year          1952 non-null   float64
 6   manufacturer  1831 non-null   object
 7   model         1961 non-null   object
 8   condition     1122 non-null   object
 9   cylinders     1258 non-null   object
 10  fuel          1940 non-null   object
 11  odometer      1962 non-null   float64
 12  title_status  1871 non-null   object
 13  transmission  1973 non-null   object
 14  VIN           1268 non-null   object
 15  drive         1363 non-null   object
 16  size          493 non-null    object
 17  type          1380 non-null   object
 18  paint_color   1534 non-null   object
 19  image_url     1974 non-null   object
 20  description   1974 non-null   object
 21  county        0 non-null      float64
 22  state         2001 non-null   object
 23  lat           1962 non-null   float64
 24  long          1962 non-null   float64
 25  posting_date  1974 non-null   object
dtypes: float64(5), int64(2), object(19)
memory usage: 406.6+ KB

In [87]:
data = data.drop('county' , axis=1)
data = data.drop('size' , axis=1)

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2001 non-null   int64
 1   url           2001 non-null   object
 2   region        2001 non-null   object
 3   region_url    2001 non-null   object
 4   price         2001 non-null   int64
 5   year          1952 non-null   float64
 6   manufacturer  1831 non-null   object
 7   model         1961 non-null   object
 8   condition     1122 non-null   object
 9   cylinders     1258 non-null   object
 10  fuel          1940 non-null   object
 11  odometer      1962 non-null   float64
 12  title_status  1871 non-null   object
 13  transmission  1973 non-null   object
 14  VIN           1268 non-null   object
 15  drive         1363 non-null   object
 16  type          1380 non-null   object
 17  paint_color   1534 non-null   object
 18  image_url     1974 non-null   object
 19  description   1974 non-null   object
 20  state         2001 non-null   object
 21  lat           1962 non-null   float64
 22  long          1962 non-null   float64
 23  posting_date  1974 non-null   object
dtypes: float64(4), int64(2), object(18)
memory usage: 375.3+ KB

In [89]:
data.isnull().sum()

id                0
url               0
region            0
region_url        0
price             0
year             49
manufacturer    170
model            40
condition       879
cylinders       743
fuel             61
odometer         39
title_status    130
transmission     28
VIN             733
drive           638
type            621
paint_color     467
image_url        27
description      27
state             0
lat              39
long             39
posting_date     27
dtype: int64

In [90]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [91]:
data = data[['id', 'url', 'region', 'region_url', 'price' ,'year', 'state']]

In [92]:
data

,id,url,region,region_url,price,year,state
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,az
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,ar
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,fl
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,ma
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,nc
...,...,...,...,...,...,...,...
1996,7308972392,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,17860,2014.0,al
1997,7308971633,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,54488,2020.0,al
1998,7308831024,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,33990,2017.0,al
1999,7308801755,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,3,2020.0,al
2000,7308801682,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,18681,2019.0,al

In [93]:
data.dropna(inplace=True)

In [94]:
data.isnull().sum()

id            0
url           0
region        0
region_url    0
price         0
year          0
state         0
dtype: int64

In [95]:
data

,id,url,region,region_url,price,year,state
27,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,33590,2014.0,al
28,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,22590,2010.0,al
29,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,39590,2020.0,al
30,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2017.0,al
31,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,15000,2013.0,al
...,...,...,...,...,...,...,...
1996,7308972392,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,17860,2014.0,al
1997,7308971633,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,54488,2020.0,al
1998,7308831024,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,33990,2017.0,al
1999,7308801755,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,3,2020.0,al
2000,7308801682,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,18681,2019.0,al