In [1]:
import pandas as pd

In [21]:
pwd

'/home/shlok/Desktop/DSBDA Practical Assignments'

In [2]:
import numpy as np

In [3]:
data=pd.read_csv("/home/shlok/Downloads/DSBDA Practical Assignments (1)/DSBDA Practical Assignments/All ipynb/vehicles.csv")

In [4]:
data

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,7308972392,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,17860,2014.0,jeep,grand cherokee limited,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00O0O_ijP2Qx9vMi...,2014 JEEP GRAND CHEROKEE LIMITED ~ Hundreds of...,NaN,al,29.801374,-82.531052,2021-04-18T17:15:59-0500
1997,7308971633,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,54488,2020.0,ford,f-150 lariat 4wd,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00U0U_dTOexEOB2l...,2020 FORD F-150 LARIAT 4WD / F150 4X4 TRUCK ~ ...,NaN,al,29.802119,-82.529850,2021-04-18T17:14:22-0500
1998,7308831024,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,33990,2017.0,ram,1500 crew cab tradesman,good,8 cylinders,...,NaN,pickup,blue,https://images.craigslist.org/00Y0Y_jRbwm0dSjS...,Carvana is the safer way to buy a car During t...,NaN,al,31.230000,-85.400000,2021-04-18T12:50:51-0500
1999,7308801755,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,3,2020.0,ford,fusion se sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00E0E_b3RHuW4jYv...,2020 FORD FUSION SE SEDAN ~ Hundreds of NEW & ...,NaN,al,29.803337,-82.528074,2021-04-18T11:59:35-0500
2000,7308801682,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,18681,2019.0,nissan,altima 2.5 sr sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00101_lBMiBbuKBr...,2019 NISSAN ALTIMA 2.5 SR SEDAN ~ Hundreds of ...,NaN,al,29.802566,-82.529678,2021-04-18T11:59:27-0500

In [5]:
data.shape

(2001, 26)

In [6]:
data.isnull()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
1,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
2,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
3,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
4,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
1997,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
1999,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
2000,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False

In [7]:
data.isnull().sum()

id                 0
url                0
region             0
region_url         0
price              0
year              49
manufacturer     170
model             40
condition        879
cylinders        743
fuel              61
odometer          39
title_status     130
transmission      28
VIN              733
drive            638
size            1508
type             621
paint_color      467
image_url         27
description       27
county          2001
state              0
lat               39
long              39
posting_date      27
dtype: int64

In [9]:
data.drop('county',axis=1,inplace=True)

In [10]:
data.isnull().sum()

id                 0
url                0
region             0
region_url         0
price              0
year              49
manufacturer     170
model             40
condition        879
cylinders        743
fuel              61
odometer          39
title_status     130
transmission      28
VIN              733
drive            638
size            1508
type             621
paint_color      467
image_url         27
description       27
state              0
lat               39
long              39
posting_date      27
dtype: int64

In [11]:
data.dropna(inplace=True)

In [12]:
data.isnull().sum()

id              0
url             0
region          0
region_url      0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
drive           0
size            0
type            0
paint_color     0
image_url       0
description     0
state           0
lat             0
long            0
posting_date    0
dtype: int64

In [14]:
data.describe()

,id,price,year,odometer,lat,long
count,1.790000e+02,179.000000,179.000000,179.000000,179.000000,179.000000
mean,7.309418e+09,23185.843575,2012.050279,94208.011173,36.249967,-82.077401
std,3.701130e+06,14425.882032,6.288275,59950.096428,3.395269,5.878584
min,7.301844e+09,0.000000,1972.000000,1582.000000,29.026600,-89.437114
25%,7.306854e+09,10245.000000,2008.000000,43980.500000,33.349627,-86.786950
50%,7.311167e+09,22990.000000,2013.000000,93096.000000,36.118500,-86.469200
75%,7.311561e+09,31990.000000,2017.000000,135092.500000,40.468785,-74.281707
max,7.316512e+09,98900.000000,2021.000000,304000.000000,40.468785,-74.281707

In [18]:
avg_mean=data["price"].astype("float").mean(axis=0)
avg_mean

23185.843575418996

In [19]:
avg_year=data["year"].astype('int').mean(axis=0)

In [20]:
avg_year

2012.0502793296089